<h1><%= @category.title %></h1>
<p>     <%= @category.description %>      </p>
<h3><%= @category.title %></h3>
    <% @category.products.in_groups_of(3,false).each do |group| %>
        <div class="row">
            <% group.each do |product| %>
                <div class="col-md-4">
                <div class="text-block product-card">
                    <%= image_tag product.image.url(:medium), class:"figure-img img-fluid rounded center-block" %>
                    <div class="product-card-meta">
                        <figcaption class="figure-caption text-center"> <%= link_to product.title , product_path(product) %>    </figcaption>
                        <span class="label label-default"><%= product.price%></span>
                    </div>   
                </div>
                </div>
            <% end %>
        </div>
    <% end %>

<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
