<h1><%= @category.title %></h1>
<% if user_signed_in? and current_user.admin?%>
<%= link_to 'Удалить', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Изменить', edit_category_path(@category) %> |
<%= link_to 'Добавить продукт', new_product_path(:cat_id => @category.id) %>
<%end%>
    <% @category.products.in_groups_of(3,false).each do |group| %>
        <div class="row">
            <% group.each do |product| %>
                <div class="col-md-4">
                <div class="text-block product-card">
                    <%= image_tag product.image.url(:medium), class:"figure-img img-fluid rounded " %>
                    <div class="product-card-meta">
                        <figcaption class="figure-caption "> 
                            <%= link_to product.title , product_path(product) %>  
                        </figcaption>
                        <h3><span class="label label-success product-price"><%= product.price%> тг</span> </h3>
                    </div>   
                </div>
                </div>
            <% end %>
        </div>
    <% end %>




