<%= form_for @product do |form|%>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount, id: :product_discount %>
  </div>

<div class="field">
    <%= form.label :category_id %>
 <%= form.select :category_id, Category.all.collect { |c| [ c.title, c.id ] }, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :product_image %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>